.alert-success {
    color: lightblue;
    background-color: white;
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: tan;
}
nav li{display: inline; background-color: rgba(218, 218, 218, 0.5);}
nav li a{color: rgb(0, 38, 255)}
input{border-radius: 50%;}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 4, 255);

}