.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: tan;
}
nav li{display: inline; background-color: rgb(255, 255, 255);}
nav li a{color: rgb(111, 0, 255)}
input{border-radius: 50%;}
body{
    background-color: rgb(228, 228, 228);
    color: rgb(0, 4, 255);

}